<p id="notice"><%= notice %></p>

<h2>your cart</h2>
<ul>
  <% for item in @cart.line_items %>
  <li><%= item.quantity %> &times; <%= item.product.title %></li>
  <% end %>
</ul>

<%= link_to 'Back', store_index_path %>
